*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.cls linguist-detectable=false
*.bib linguist-detectable=false
*.aux linguist-detectable=false

**/*.html linguist-detectable=false

*.py linguist-detectable=true
Dockerfile linguist-detectable=true
