**/*.tex -linguist-detectable
**/*.sty -linguist-detectable
**/*.cls -linguist-detectable
**/*.bib -linguist-detectable
**/*.aux -linguist-detectable
**/*.bbl -linguist-detectable
**/*.blg -linguist-detectable
**/*.log -linguist-detectable
**/*.out -linguist-detectable
**/*.toc -linguist-detectable
**/*.fdb_latexmk -linguist-detectable
**/*.fls -linguist-detectable
**/*.synctex.gz -linguist-detectable

**/*.html -linguist-detectable
**/*.htm -linguist-detectable

**/*.py linguist-detectable
Dockerfile linguist-detectable
**/Dockerfile linguist-detectable
